<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gigigo.vuforiaimplementation">

    <application android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".VuforiaActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title" />

        <receiver android:name=".VuforiaRecognizedImageReceiver." >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" >
                </action>
            </intent-filter>
        </receiver>

        <action android:name="com.gigigo.imagerecognition.intent.action.RECOGNIZED_IMAGE"></action>
    </application>

</manifest>
