<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gigigo.vuforiaimplementation">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".VuforiaActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title" />

    </application>

</manifest>
